<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!-- Заполнить желательно все значения. Переменные используются в классе SmsRuProvider, там описано их назначение.-->
    <add key="smsRuLogin" value="89145671450" />
    <add key="smsRuPassword" value="qwerty1357" />
    <add key="smsRuApiID" value="93F630F8-8B4F-E1CB-D44C-720A3CE49776" />
    <add key="partnerID" value="7453" />
    <add key="logFolder" value="C:\SmsRu\" />
    <add key="smsRuEmail" value="" />
    <add key="email" value="admin@fl.smrts.ru" />
    <add key="smtpServer" value="fl.smrts.ru" />
    <add key="smtpPort" value="25" />
    <!--<add key="smtpLogin" value="fl@smrts.ru" />
    <add key="smtpPassword" value="flpass2156" />-->
    <add key="smtpLogin" value="admin@fl.smrts.ru" />
    <add key="smtpPassword" value="2jiSK9kkaVJi" />
    <add key="smtpUseSSL" value="false" />
    <add key="translit" value="false" />
    <add key="test" value="false" />
    <!-- Номер телефона, на который заключён договор рассылки СМС. Тоже нужен для отправки-->
    <add key="contractPhone" value="79145671450" />

    <add key="DevinoLogin" value="Faberlic_test1"/>
    <add key="DevinoPassword" value="NA=BOx$GtP"/>
    <add key="DevinoSender" value="DTSMS"/>
    
    <add key="sms_sender_kind" value="0"/>
    <add key="delay_ms" value="1000"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ChatEntities" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FLChat;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProtEntities" connectionString="metadata=res://*/Model.ProtModel.csdl|res://*/Model.ProtModel.ssdl|res://*/Model.ProtModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FLChatProt;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>

  <log4net>
    <appender name="MainRolling" type="log4net.Appender.RollingFileAppender">
      <file value="Log\"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="'log_'yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="INFO"/>
      <appender-ref ref="MainRolling"/>
    </root>
  </log4net>
</configuration>
