<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="DevinoLogin" value="Faberlic_test1" />
    <add key="DevinoPassword" value="NA=BOx$GtP" />
    <add key="DevinoSender" value="DTSMS" />
    <add key="DevinoSenderEmail" value="faberlicchat@faberlic.com" />
    <add key="DevinoEmailSubject" value="faberlicchat" />
    <add key="delay_ms" value="1000" />

    <add key="Command_GetFile" value="file/%id%" />
    <add key="Mainserver_Name" value="http://5.188.115.71:33892/FLChat/" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ChatEntities" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FLChat;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProtEntities" connectionString="metadata=res://*/Model.ProtModel.csdl|res://*/Model.ProtModel.ssdl|res://*/Model.ProtModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FLChatProt;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>