<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="auth_url" value="https://login.salesforce.com"/>
    <add key="client_id" value="3MVG9LBJLApeX_PBhXW_Ye16ekR66E6xPbisNMou9coKQ8ItwfFiDyJY3Sd7JqRj_MzMjEpxSsZyDpllkWlFn"/>
    <add key="secret" value="B36FD4DB32CB61D39BC7F9BFB1DB58D9F8B8254C13F53056A38EFA94C22D8C67"/>
    <add key="username" value="vicado@salesforce.test"/>
    <add key="password" value="Salesforce1"/>

    <add key="query" value="SELECT Birthdate,BonusPoints__c,CreatedDate,Email,EmailPermission__c,FirstName,Id,IsDeleted,LastName,LastOrderDate__c,MailingCity,MailingCountry,MailingState,MobilePhone,PhotoUrl,ReportsToId,SMSPermission__c,Title FROM Contact"/>
  </appSettings>
</configuration>