<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DevinoLogin" value="Faberlic_test1"/>
    <add key="DevinoPassword" value="D342ksoobxY!12"/>
    <add key="DevinoSender" value="Faberlic"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ChatEntities" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FLChat;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
    <add name="ProtEntities" connectionString="metadata=res://*/Model.ProtModel.csdl|res://*/Model.ProtModel.ssdl|res://*/Model.ProtModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FLChatProt;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ChatEntities" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5.188.115.71,14332;initial catalog=FLChat;persist security info=True;user id=flchat;password=8QdSj9C6mcE5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProtEntities" connectionString="metadata=res://*/Model.ProtModel.csdl|res://*/Model.ProtModel.ssdl|res://*/Model.ProtModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5.188.115.71,14332;initial catalog=FLChatProt;persist security info=True;user id=flchat;password=8QdSj9C6mcE5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--<add name="ChatEntities" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=79.143.24.253;initial catalog=FLChat;persist security info=True;user id=vnogin;password=9z6sIsxJr7Of;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProtEntities" connectionString="metadata=res://*/Model.ProtModel.csdl|res://*/Model.ProtModel.ssdl|res://*/Model.ProtModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=79.143.24.253;initial catalog=FLChatProt;persist security info=True;user id=vnogin;password=9z6sIsxJr7Of;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
</configuration>