<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Заполнить желательно все значения. Переменные используются в классе SmsRuProvider, там описано их назначение.-->
    <!--<add key="smsRuLogin" value="89145671450" />
    <add key="smsRuPassword" value="qwerty1357" />
    <add key="smsRuApiID" value="93F630F8-8B4F-E1CB-D44C-720A3CE49776" />
    <add key="partnerID" value="7453" />
    <add key="logFolder" value="C:\SmsRu\" />
    <add key="smsRuEmail" value="" />-->

    <add key="email" value="flchat@yandex.ru" />
    <add key="smtpServer" value="smtp.yandex.ru" />
    <add key="smtpPort" value="587" />
    <add key="smtpLogin" value="flchat@yandex.ru" />
    <add key="smtpPassword" value="FlChat2019" />
    <add key="smtpUseSSL" value="true" />
    <add key="alias" value="FL-рассылка" />
    <add key="translit" value="false" />
    
    <!--<add key="email" value="fl@smrts.ru" />
    <add key="smtpServer" value="smtp.yandex.ru" />
    <add key="smtpPort" value="25" />
    <add key="smtpLogin" value="fl@smrts.ru" />
    <add key="smtpPassword" value="flpass2156" />
    <add key="smtpUseSSL" value="false" />-->
    <!--<add key="smtpUseSSL" value="true" />-->

    <!--<add key="email" value="admin@fl.smrts.ru" />
    <add key="smtpServer" value="fl.smrts.ru" />
    <add key="smtpPort" value="25" />
    <add key="smtpLogin" value="admin@fl.smrts.ru" />
    <add key="smtpPassword" value="2jiSK9kkaVJi" />
    <add key="smtpUseSSL" value="false" />-->
    
    <add key="translit" value="false" />
    <add key="test" value="false" />
    <!-- Номер телефона, на который заключён договор рассылки СМС. Тоже нужен для отправки-->
    <add key="contractPhone" value="79145671450" />
  </appSettings>
</configuration>