<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

	<system.webServer>
        <handlers>
            <add name="login"   verb="POST"  path="FLChat/auth/login"  type="FLChat.WebService.LoginHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="token"   verb="POST"  path="FLChat/auth/token"  type="FLChat.WebService.TokenHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="logout"  verb="GET"   path="FLChat/auth/logout" type="FLChat.WebService.LogoutHttpHandler, FLChat.WebService" resourceType="Unspecified" />                <add name="front_config_get" verb="GET" path="FLChat/auth/config" type="FLChat.WebService.ConfigGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />

            <add name="profile_get_avatar"  verb="GET"   path="FLChat/profile/avatar" type="FLChat.WebService.ProfileAvatarGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="profile_set_avatar"  verb="POST"   path="FLChat/profile/avatar" type="FLChat.WebService.ProfileAvatarSetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="profile_del_avatar"  verb="DELETE"   path="FLChat/profile/avatar" type="FLChat.WebService.ProfileAvatarDelHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="profile_get_contacts"  verb="GET"   path="FLChat/profile/contacts" type="FLChat.WebService.ProfileContactsGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="profile_get_childs_count" verb="GET" path="FLChat/profile/childs/count"  type="FLChat.WebService.ProfileChildsCountHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="profile_get_childs"  verb="GET"   path="FLChat/profile/childs"  type="FLChat.WebService.ProfileChildsGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="profile_get_childs2" verb="GET"   path="FLChat/profile/childs2" type="FLChat.WebService.ProfileChildsGetHttpHandler_v2, FLChat.WebService" resourceType="Unspecified" />
            <add name="profile_get_parents"  verb="GET"   path="FLChat/profile/parents" type="FLChat.WebService.ProfileParentsGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="profile_set_password"  verb="POST"   path="FLChat/profile/password" type="FLChat.WebService.ProfilePasswordSetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="profile_set_phonelist"  verb="POST"   path="FLChat/profile/phonelist" type="FLChat.WebService.ProfilePhonelistSetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="profile_get"  verb="GET"   path="FLChat/profile" type="FLChat.WebService.ProfileGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="profile_set"  verb="POST"   path="FLChat/profile" type="FLChat.WebService.ProfileSetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            
            <add name="user_transport_get"  verb="GET"   path="FLChat/users/*/transport" type="FLChat.WebService.UserGetTransportHttpHandler, FLChat.WebService" resourceType="Unspecified" />            
            <add name="user_transport_set"  verb="POST"  path="FLChat/users/*/transport" type="FLChat.WebService.UserSetTransportHttpHandler, FLChat.WebService" resourceType="Unspecified" />  
            <add name="user_childs_count_get" verb="GET"   path="FLChat/users/*/childs/count"  type="FLChat.WebService.UserChildsCountHttpHandler, FLChat.WebService" resourceType="Unspecified" />            
            <add name="user_childs_get"  verb="GET"   path="FLChat/users/*/childs"  type="FLChat.WebService.UserChildsGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />            
            <add name="user_childs2_get" verb="GET"   path="FLChat/users/*/childs2" type="FLChat.WebService.UserChildsGetHttpHandler_v2, FLChat.WebService" resourceType="Unspecified" />            
            <add name="user_get_parents"  verb="GET"   path="FLChat/users/*/parents" type="FLChat.WebService.UserParentsGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="user_avatat_get"  verb="GET"   path="FLChat/users/*/avatar" type="FLChat.WebService.UserAvatarGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />            
            <add name="user_avatar_set"  verb="POST"   path="FLChat/users/*/avatar" type="FLChat.WebService.UserAvatarPostHttpHandler, FLChat.WebService" resourceType="Unspecified" />            
            <add name="user_avatar_del"  verb="DELETE"   path="FLChat/users/*/avatar" type="FLChat.WebService.UserAvatarDelHttpHandler, FLChat.WebService" resourceType="Unspecified" />            
            <add name="user_litelink"  verb="GET"   path="FLChat/users/*/litelink" type="FLChat.WebService.UserLiteLinkHttpHandler, FLChat.WebService" resourceType="Unspecified" />            
            <add name="user_selection"  verb="POST"  path="FLChat/users/selection" type="FLChat.WebService.UserSelectionCountHttpHandler, FLChat.WebService" resourceType="Unspecified" /> 
            <add name="user_get"  verb="GET"   path="FLChat/users/*" type="FLChat.WebService.UserGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />            
            <add name="user_set"  verb="POST"   path="FLChat/users/*" type="FLChat.WebService.UserSetHttpHandler, FLChat.WebService" resourceType="Unspecified" />            
            <add name="user_new"  verb="POST"  path="FLChat/users" type="FLChat.WebService.UserCreateHttpHandler, FLChat.WebService" resourceType="Unspecified" /> 
            <add name="user_search"  verb="GET"  path="FLChat/users" type="FLChat.WebService.UserSearchHttpHandler, FLChat.WebService" resourceType="Unspecified" /> 
            
            <add name="segment_list_get"  verb="GET"   path="FLChat/segment" type="FLChat.WebService.SegmentGetAllHttpHandler, FLChat.WebService" resourceType="Unspecified" />
			<add name="segment_list_post"  verb="POST"   path="FLChat/segment" type="FLChat.WebService.SegmentGetAllHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="message_read_post" verb="POST"  path="FLChat/message/read" type="FLChat.WebService.MessageReadPostHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="message_history" verb="POST"  path="FLChat/message/history" type="FLChat.WebService.MessageHistoryHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="message_limit" verb="POST"  path="FLChat/message/limit" type="FLChat.WebService.MessageLimitHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="message_sent_info" verb="GET"  path="FLChat/message/sent/*" type="FLChat.WebService.MessageSentInfoHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="message_sent_history" verb="GET"  path="FLChat/message/sent" type="FLChat.WebService.MessageSentHistoryHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="message_edit" verb="POST"  path="FLChat/message/*" type="FLChat.WebService.MessageEditHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="message_post" verb="POST"  path="FLChat/message" type="FLChat.WebService.MessagePostHttpHandler, FLChat.WebService" resourceType="Unspecified" />

            <add name="events" verb="POST"  path="FLChat/events" type="FLChat.WebService.EventsHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            
            <add name="litelink" verb="GET" path="FLChat/webchat/litelink/*" type="FLChat.WebService.LiteLinkHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="webchat_read" verb="GET" path="FLChat/webchat/*" type="FLChat.WebService.WebChatReadHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="webchat_answer" verb="POST" path="FLChat/webchat/*" type="FLChat.WebService.WebChatAnswerHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            
            <add name="structure_get" verb="GET" path="FLChat/structure/*" type="FLChat.WebService.StructureGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="structure_root_get" verb="GET" path="FLChat/structure" type="FLChat.WebService.StructureRootGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />

            <add name="file_get"  verb="GET"   path="FLChat/file/*" type="FLChat.WebService.FileGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="image_get"  verb="GET"   path="FLChat/image/*" type="FLChat.WebService.ImageGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="file_set"  verb="POST"   path="FLChat/file" type="FLChat.WebService.FileSetHttpHandler, FLChat.WebService" resourceType="Unspecified" />			
            
            <add name="admin_message_sent_history"  verb="GET"  path="FLChat/admin/user/*/sent" type="FLChat.WebService.AdminMessageSentHistoryUserHandler, FLChat.WebService" resourceType="Unspecified" /> 
            <add name="admin_user_segments_get"  verb="GET"  path="FLChat/admin/user/*/segments" type="FLChat.WebService.AdminUserSegmentsHttpHandler, FLChat.WebService" resourceType="Unspecified" /> 
            <add name="admin_user_transport"  verb="DELETE"  path="FLChat/admin/user/*" type="FLChat.WebService.DelUserTransportHttpHandler, FLChat.WebService" resourceType="Unspecified" /> 
            <add name="admin_user_search"  verb="GET"  path="FLChat/admin/users" type="FLChat.WebService.UserSearchAllHttpHandler, FLChat.WebService" resourceType="Unspecified" /> 
            <add name="admin_segment_get"  verb="GET" path="FLChat/admin/segment/*" type="FLChat.WebService.GetSegmentDBHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="admin_segment_manage"  verb="POST" path="FLChat/admin/segment/*" type="FLChat.WebService.SegmentManageHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="admin_segments_list"  verb="GET" path="FLChat/admin/segment" type="FLChat.WebService.AdminSegmentListHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="admin_message_sent_info" verb="GET"  path="FLChat/admin/message/sent/*" type="FLChat.WebService.AdminMessageSentInfoHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="admin_message_sent_history_all" verb="GET"  path="FLChat/admin/message/sent" type="FLChat.WebService.AdminMessageSentHistoryAllHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="admin_messagetype_set"  verb="POST" path="FLChat/admin/messagetype/*" type="FLChat.WebService.MessageTypeLimitSetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="admin_messagetype_get"  verb="GET" path="FLChat/admin/messagetype" type="FLChat.WebService.MessageTypeLimitGetHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="admin_rank_get"  verb="GET" path="FLChat/admin/rank" type="FLChat.WebService.GetRankHttpHandler, FLChat.WebService" resourceType="Unspecified" />
            <add name="TG_webhook2" verb="*" path="FLChat/sys/tg_webhook/0ce3e7f1a1a4d80635be9paf63890a5bd97" type="FLChat.TelegramBot.Webhook, FLChat.TelegramBot" resourceType="Unspecified"  />            
<!--            <add name="TG_webhook2" verb="*" path="FLChat/sys/tg_webhook/AAGCGaTM3hS44BjTJ7L7FeTDWjbzKTzyyaQ" type="FLChat.TelegramBot.Webhook, FLChat.TelegramBot" resourceType="Unspecified"  />	-->
            <add name="VK_webhook" verb="*" path="FLChat/sys/vk_webhook" type="FLChat.VKBot.VKWebhook, FLChat.VKBot" resourceType="Unspecified"  />
            <add name="VK_subscribe" verb="POST" path="FLChat/sys/vk_subscribe" type="FLChat.VkWidget.VkWidgetHook, FLChat.VkWidget" resourceType="Unspecified"  />
            <add name="Viber_webhook" verb="*" path="FLChat/sys/viber_webhook" type="FLChat.Viber.Bot.Webhook, FLChat.Viber.Bot" resourceType="Unspecified" />			
            
            <add name="FLChat"  verb="*"     path="FLChat"             type="FLChat.WebService.HttpHandlerFactory, FLChat.WebService" resourceType="Unspecified" />
        </handlers>        
        <httpErrors errorMode="Detailed"></httpErrors>
    </system.webServer>  

    <system.web>
        <customErrors mode="Off" />
        <identity impersonate="false" />
        <authentication mode="Windows" />
    </system.web>

      
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <connectionStrings>
    <add name="ChatEntities" connectionString="metadata=res://*/Model.DBModel.csdl|res://*/Model.DBModel.ssdl|res://*/Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.137.28.154;initial catalog=FLChat;persist security info=True;user id=flchat;password=8QdSj9C6mcE5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProtEntities" connectionString="metadata=res://*/Model.ProtModel.csdl|res://*/Model.ProtModel.ssdl|res://*/Model.ProtModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.137.28.154;initial catalog=FLChatProt;persist security info=True;user id=flchat;password=8QdSj9C6mcE5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FileEntities" connectionString="metadata=res://*/Model.FileEntities.csdl|res://*/Model.FileEntities.ssdl|res://*/Model.FileEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.137.28.154;initial catalog=FLChatFile;persist security info=True;user id=flchat;password=8QdSj9C6mcE5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- Заполнить желательно все значения. Переменные используются в классе SmsRuProvider, там описано их назначение.-->
    <add key="smsRuLogin" value="89145671450"/>
    <add key="smsRuPassword" value="qwerty1357"/>
    <add key="smsRuApiID" value="93F630F8-8B4F-E1CB-D44C-720A3CE49776"/>
    <add key="partnerID" value="7453"/>
    <add key="logFolder" value="C:\SmsRu\"/>
    <add key="smsRuEmail" value=""/>
    <add key="email" value="virtual.monitoring@yandex.ru" />
    <add key="smtpServer" value="smtp.yandex.ru"/>
    <add key="smtpPort" value="25"/>
    <add key="smtpLogin" value="virtual.monitoring@yandex.ru"/>
    <add key="smtpPassword" value="Virtual2017Monitoring"/>
    <add key="smtpUseSSL" value="true"/>
    <add key="translit" value="false" />
    <add key="test" value="false"/>
    <!-- Номер телефона, на который заключён договор рассылки СМС. Тоже нужен для отправки-->
    <add key= "contractPhone" value= "79145671450" />
    
    <add key="viber_token" value="493c6a701467db76-28e62af169aad4aa-cd6a1da78218d583" />
    
    <add key="tg_token" value="682112025:AAGCGaTM3hS44BjTJ7L7FeTDWjbzKTzyyaQ"/>
    <add key="tg_proxy_addr" value="185.17.120.252"/>
    <add key="tg_proxy_port" value="1080"/>
    <add key="tg_proxy_user" value="tguser"/>
    <add key="tg_proxy_password" value="d72c76bcf19db9aa458a9862cdca9f3b"/>

    <add key="VK_confirmation" value="f634387e" />
    <add key="vk_token" value="49fbc63ef10dc50c92455fcf35537aa2f2722aeafb9d06d216aeb3bcd9c2e19b5546301bdfdd8529abcb3"/>
  </appSettings>  
</configuration>